/* Style the body */
body{
  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  /* width:100vw; */
  margin: 0;
  padding: 0;
}
/* 
Links that were visited
a:visited{
color:orange;
} */

/* For JavaScript classes */
.black{
  background-color: black;
  color: white;
 }

.orange{
  background-color:orange;
 }

.white{
  background-color: white;
 }

/* Style the page structure */


/* Style the header */
.pageHeader{
  /* Position the header fixed at top */
  position: sticky;
  /* Position the navbar at the top of the page */
  top: 0; 

  /* Position the header in front of the page */
  z-index: 2;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

/* Style the input header */
#darkMode, #submitSearch{
color: orangered;
width: 50px;
height: 30px;
margin-top: 10px;
padding: 2px;
border-radius: 20%;
border-style:inherit;

}

/* Style the number of products in header */
#cartPicture{
width:25px;
height:21px;
}

#spanLI {
position: relative;
left: -12px;
top:2px;
display: flex;
justify-content: flex-end;
margin-top:14px;

}

.eveniment{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
border-color: white;
border-width: 2px;
border-style: solid;
border-radius: 25px;
width: 20px;
height: 20px;
top: -14px;
left: 11px;

}

li a{
text-decoration: none;
color: white;
}

#brand{
background-image: url("webSitePhotos/brand-logo.png");
background-repeat: no-repeat;
background-position:center;
background-size: contain;
min-height: 5vh;
min-width: 5vw;
padding: 4px;
margin: 2px;

}

/* Style the account */
/* .accountContainer input[type=text], input[type=password]{ */
.accountContainer .inputAccount{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

.accountContainer button{
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;

}

.accountContainer button:hover{
opacity: 0.8;
}

#cancelbtn{
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

.imgaccount{
text-align: center;
margin: 24px 0 12px 0;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.accountContainer {
padding: 16px;
}

span.psw {
float: right;
padding-top: 6px;
margin-left: 0;
}

#txtdec{
text-decoration:underline;
}



/* Style the dropdown menu */
.dropbtn {
background-color: transparent;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

#dropdown-contentAccount {
display: none;
position: absolute;
min-width: 250px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

#dropdown-contentAccount a {
color: black;
padding: 12px 16px;
/* text-decoration: none; */
display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1
}

#dropdown-contentAccount a:hover {
background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover #dropdown-contentAccount {
display: block;
}

.dropdown:hover .dropbtn {
background-color: orange;
transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.desc {
padding: 15px;
text-align: center;
}

/* Style the sample image in the content dropdown */
.desktop{
background-image: url("/webSitePhotos/desktop.png");
background-repeat: no-repeat;
background-position:center;
background-size:contain;
min-height: 5vh;
min-width: 5vw;
width: 1px;
height: 1px;
}

/* Style the main-nav class */
#main-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* Header alignment */
  justify-content: space-around;
  list-style: none;
}

.main-navWhite{
background: deepskyblue;
}

.main-navBlack{
  background: black;
}

/* Style the input search */
#inputSearch{
  width: 350px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border-color: #c60000;
  border-style:inherit;
  
}

#submitSearch{
margin-left: 2px;
}

/* Style the promotions */
#promotions{
padding: 20px;
}

/* Style the picture with offers */
.picture{
display: flex;
justify-content: center;
align-items: center;
position: relative;
background-image: url("/dynamicPromotionsImages/image1.jpg");
background-repeat: no-repeat;
background-position:center;
background-size: contain;
min-height: 50vh;
min-width: 15vw;
}

#hero{
display: flex;
justify-content: center;
color: red;
backdrop-filter: blur(10px);
padding: 0 10px;
margin-top: -20px;
z-index: -1;
}


.commands{
position: absolute;
display: flex;
justify-content: space-between;
align-items:flex-end;
min-width: 80vw;
/* top:190px; */

/* background-color: lightblue;
margin-top: 10px; */

}

.commands a{
display: flex;
text-decoration: none;
justify-content: center;
align-items: center;
padding: 10px 15px;
border-radius: 50%;
color:red;
background-color: whitesmoke;
}

.commands a:hover{
background-color: lightgray;
color: black;
}

/* .previous {
background-color:white;
color: black;
}

.next {
background-color: white;
} */

/* Container for flexboxes */
.section {
display: flex;
flex-direction: row;
}

/* Style the navBar and ads */
.navBar, .ads{
background-image: url("webSitePhotos/navbar-promotion.jpg");
background-repeat: no-repeat;
background-position:top;
background-size: contain;
min-height: 15vh;
min-width: 15vw;
padding: 2px;
width: 15%;
height: auto;
}

.navBar a{
color: white;
padding: 10px;
}

/* Style the content */
#content {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
width: 70%;
border-top: 1px solid #dee2e6;
border-style: solid;
border-color: green;
box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

.view{
display: flex;
justify-content: space-around;
border-style: solid;
border-color: orange;
width: 100%;
}

.line{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.product{
position: relative;
display: flex;
justify-content: center;
align-items: flex-end;
min-width: 10vw;
min-height: 20vw;
width: 200px;
height: 100px;
margin: 20px;
background-color: white;
background-image: url("https://static.flashscore.com/res/image/data/voLgoZxL-4CIh5uRh.png");
background-repeat: no-repeat;
background-position: top center;
background-size:70%;
box-shadow: 0 0.900rem 0.90rem rgba(0,0,0,1.095);
border-style: solid;
border-color: white;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 5px;
  border-style: solid;
  border-color: whitesmoke;

}

.product2{
  display: flex;
  flex: 1 0 20%;
  position: relative;
  flex-direction: column;
  min-width: 10vw;
  min-height: 28vw;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-size:70%;
  box-shadow: 0 0.900rem 0.90rem rgba(0,0,0,1.095);
  border-style: solid;
  border-color: white;
}


.name2{
  padding: 2px;
  margin: 2px;
  height: 150px;
  text-align: left;
  inline-size: 250px;
  overflow-wrap: break-word;
}

.price2{
  position:absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.button{
  position:absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 2px;
  margin: 2px;
  text-align: center;
}

.name{
position: relative;
background-color: black;
color:white;
padding: 5px;
width:200px;
height: 110px;
margin-bottom: 25px;
font-size:small;
}

.price{
  position: absolute;
  display: flex;
  justify-content: center;
  border: 5px;
  border-color: orange;
  border-radius: 5%;
  background-color: red;
  box-shadow: 0 0.900rem 0.90rem rgba(0,0,0,1.095);
  color:black;
  padding: 5px;
  width:50px;
  height: 15px;
  font-size:small;
}

.buy{
  position: absolute;
  display: flex;
  margin-left: 65%;
  margin-top:20px;
  color:black;
  padding: 2px;
  width:40px;
  height: 20px;
  font-size:small;
  background-color: olive;
  }

.discount{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
border-color: white;
border-width: 2px;
border-style: solid;
border-radius: 25px;
width: 50px;
height: 50px;
top: -25px;
left: -25px;
}

.banner{
background-color: yellow;
width: 20px;
height: 30px;
}





/* Style the footer */
#footer{
justify-content: center;
text-align: center;
border-top: 1px solid #dee2e6;
box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
padding-bottom: 2rem;
padding: 10px;
display: flex;
flex-direction: column;
}  

.footer{
background-color:deepskyblue;  
}  

.Tfooter a:hover{
color:orange;
}

.Tfooter th,tr,td,a{
color: white;
    /* Without underline: */
    text-decoration: none;
    text-align: left;

}

#email{
appearance: none;
background-clip: padding-box;
background-color: #fff;
border: 1px solid #ced4da;
border-radius: 0.25rem;
box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
color: #212529;
display: block;
font-size: .9375rem;
font-weight: 400;
line-height: 1.5;
padding: 0.375rem 0.75rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
width: 100%;
box-sizing: border-box;
}

#abonare{
background-color: #f80000;
border-color: #f80000;
box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075);
color: #fff;
border: 1px solid transparent;
border-radius: 0.25rem;
cursor: pointer;
display: inline-block;
font-size: .9375rem;
font-weight: 500;
line-height: 1.5;
padding: 0.375rem 1.25rem;
text-align: center;
text-decoration: none;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
vertical-align: middle;
}

#abonare:hover{
background-color: #d30000;
border-color: #c60000;
color: #fff;
cursor: pointer;
}












